<table class="table">
    <div class="header">

    </div>
    <thead class="week names">
        <tr class="relative-container">
            <td class="text-center">{{selected.format("YYYY")}}</td>
            <span class="glyphicon glyphicon-arrow-left" ng-click="previous()" id="arrow-prev"></span>
            <span class="glyphicon glyphicon-arrow-right" ng-click="next()" id="arrow-next"></span>
            <td class="day text-center" ng-repeat="day in days">
                <p>{{day.name}}</p>
                {{day.date.format("MMM")}} {{day.number}}
            </td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="hour in hours">
            <td>{{hour.time}}</td>
            <td ng-repeat="day in days"></td>
        </tr>
        <tr class="week" ng-repeat="week in weeks">
            <td ng-repeat="day in week.days">{{day.name}} {{day.number}}</td>
        </tr>
    </tbody>
</table>
